<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925932358591-1m26mnt62dpm2j2p4uqaatl8ocno57rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925932358591-1m26mnt62dpm2j2p4uqaatl8ocno57rl</string>
	<key>API_KEY</key>
	<string>AIzaSyCcO56Hf1neRu_IdsKBRJY7ei6I7I3fldA</string>
	<key>GCM_SENDER_ID</key>
	<string>925932358591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renakaagusta.planty</string>
	<key>PROJECT_ID</key>
	<string>planty-10b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>planty-10b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925932358591:ios:c59ba42263a72fe369af0a</string>
</dict>
</plist>